@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  ol,
  ul {
    margin: 10px;
  }
}
.ck-editor__editable {
  min-height: 100px;
}
.bgImage {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/images/mainbg.jpg);
  background-size: cover;
  background-position: center;
}
/* .ck .ck-editor__main {
  background-color: black;
} */

/* ck-blurred ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline */

/* .ck.ck-editor__main > .ck-editor__editable {
	background: blue !important;
	border-radius: 0;
} */
