@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  ol,
  ul {
    margin: 10px;
  }
}
.ck-editor__editable {
  min-height: 100px;
}
.bgImage {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/mainbg.jpg);
  background-size: cover;
  background-position: center;
}
